@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --primary-color:#515b3a;
    --secondary-color:#58A4B0;
    --accent1-color: #f6f7eb;
    --accent2-color: #f58f29;

    --heading-font: 'Lato', serif;
    --paragraph-font: 'Lato', serif;

    --nav-background-color: #f6f7eb;
    --nav-link-color: #58a4b0;
    --nav-hover-link-color: #f58f29;
    --nav-hover-background-color: #f6f7eb;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding:20px;
    background-color: var(--accent1-color);
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    padding: 10px;
}

nav a {
    padding: 0 10px;
    color: var(--nav-link-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: var(--secondary-color);
    font-size: 1.5rem;
    z-index: 1;
}

article {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: var(--nav-background-color);
    opacity: 0.9;
    padding: 20px;
    width: 50%;
    z-index: 1;
}

article img {
    position: relative;
    top: 0;
    right: 0;
    float: right;
    margin-left: 10px;
}

p {
    position: relative;
    float: left;
    padding: 10px;
    font-family: var(--paragraph-font);
    margin-right: 10px;
}

section {
    padding: 50px;
}

h2 {
    font-family: var(--heading-font)
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;
}




