.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}
  
:root{
    --primary-color:#515b3a;
    --secondary-color:#58A4B0;
    --accent1-color: #f6f7eb;
    --accent2-color: #f58f29;

    --heading-font: 'Lato', serif;
    --paragraph-font: 'Lato', serif;

    --nav-background-color: #f6f7eb;
    --nav-link-color: #58a4b0;
    --nav-hover-link-color: #f58f29;
    --nav-hover-background-color: #f6f7eb;
}

.grid{
    display: grid;
    align-items: center;
    flex-direction: row;
}

.flex{
    display: flex;
    align-items: center;
    flex-direction: row;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding:20px;
    background-color: var(--accent1-color);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    padding: 10px;
}

nav a {
    padding: 0 10px;
    color: var(--nav-link-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: var(--secondary-color);
    font-size: 1.5rem;
    z-index: 1;
}

article {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: var(--nav-background-color);
    opacity: 0.9;
    padding: 20px;
    width: 50%;
    z-index: 1;
}

article img {
    position: relative;
    top: 0;
    right: 0;
    float: right;
    margin-left: 10px;
}

p {
    position: relative;
    float: left;
    padding: 10px;
    font-family: var(--paragraph-font);
    margin-right: 10px;
}

.history {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    gap: 20px;
}

.adventure {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
}

.adventure img {
    max-width: 200px;
    height: auto;
}

.adventure figure {
    margin: 0;
    text-align: center;
}

.adventure figcaption {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    margin-top: 10px;
}

h2 {
    font-family: var(--heading-font)
    
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);
}

footer img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;
}




